:root {
  --light-pink: #dc5774;
  --background-grey: #eeeeee;
  --light-grey: #7c7a7a;
}

body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 70px;
  background-image: url('images/entry-background.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.9;
}

h1 {
  font-size: 40px;
  margin-bottom: 20px;
  text-align: center;
  color: var(--light-pink);
  border-radius: 5px;
  padding: 5px 20px;
  box-shadow: -5px -10px 10px 2px #d9d9d9, 5px 10px 15px 2px #d9d9d9,
    -5px 10px 10px 2px #d9d9d9, 5px -10px 15px 2px #d9d9d9;
  background-color: var(--background-grey);
  max-width: 300px;
  position: relative;
  left: 430px;

}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 30px;
}

.square {
  width: 250px;
  height: 250px;
  background-color: #ccc;
  border-radius: 10px;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: var(--light-pink);
  box-shadow: -5px -10px 10px 2px #d9d9d9, 5px 10px 15px 2px #d9d9d9,
    -5px 10px 10px 2px #d9d9d9, 5px -10px 15px 2px #d9d9d9;

}