:root {
    /* CSS variables */
    --padding: 3rem;
    --background-grey: #eeeeee;
    --light-grey: #7c7a7a;
    --light-pink: #dc5774;
    --font-size: 14px;
  }

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Ubuntu", sans-serif;
}

.chat-section {
    padding: var(--padding);
    display: flex;
    justify-content: center;
}

.chat-container {
	border: solid 1px var(--light-grey);
	display: grid;
	justify-self: center;
	width: 500px;
}

.chat-header h4 {
	text-align: center;
    color: var(--light-grey);
}

#chat-messages {
	height: auto;
}

#chat-messages ul {
	overflow-y: scroll;
	padding: 10px 20px;
	height:300px;
}

#chat-messages ul li {
    list-style: none;
	padding: 10px 15px;
	display: grid;
	gap:5px;

}

.admin-message {
    background-color: var(--light-pink);
    border-radius: 10px;
    color: white;
    text-align: left;
}

.user-message {
    color: var(--light-grey);
    text-align: right;
}

#chat-form {
	display: grid;
	grid-template-columns: auto 50px;
}
#chat-form textarea {
	resize: none;
	border: none;
}

#send-message-button {
	border:none;
	padding: 5px 10px;
	background-color: #dc5774;
	color: white;
	font-weight: 200;
    cursor: pointer;
}

#send-message-button:hover {
    color: var(--background-grey);
    font-weight: bold;
    transition-duration: 0.5s;
}


::-webkit-scrollbar {
	width: 5px;
	
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
  }

  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #f1f1f1;
  }