:root {
    /* CSS variables */
    --padding: 3rem;
    --background-grey: #eeeeee;
    --light-grey: #7c7a7a;
    --light-pink: #dc5774;
    --font-size: 14px;
}

body {
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
    background-color: var(--background-grey);
}

#chats-main-container {
    display: flex;
    justify-content: center;
}

.users-container {
    padding: var(--padding);
}

#header {
    color: var(--light-pink);
    margin-left: 28px;
}

#participant {
    cursor: pointer;
    list-style: none;
}

#participant:hover {
    color: var(--light-grey);
    font-size: 18px;
}